<div class="flex flex-col justify-center items-center">
  <div class="w-40 h-40 flex flex-col justify-center items-center transition ease-in-out rounded-3xl shadow-2xl border-2" [ngClass]="light.toggled ? '' : 'bg-red-800'" (click)="switchLight()" [ngStyle]="{background: light.toggled ? light.color : ''}">
    <div class="text-white font-bold">
      {{ light.toggled ? 'Allumé' : 'OFF'}}
    </div>
  </div>
  <div class="text-dark font-bold p-3">
    {{ light.title }}
  </div>
  <div class="px-6 py-1.5 rounded bg-red-800 text-white" (click)="launchTrigger()">-</div>
</div>
