<!-- Tailwind navbar -->
<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0 flex items-center text-amber-50">
                    TD Web Avancé
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space" aria-label="Tabs">
                        <div routerLink="racine" routerLinkActive="bg-gray-700" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 text-sm font-medium">Home</div>
                        <div routerLink="light" routerLinkActive="bg-gray-700" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2   text-sm font-medium">Light</div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</nav>
